.DS_Store
*~

.gradle/
build/

# Android Studio/IntelliJ
*.iml
.idea/.name
.idea/modules.xml
.idea/dictionaries/
.idea/libraries/
.idea/uiDesigner.xml
.idea/workspace.xml
.idea/gradle.xml
.idea/misc.xml
.idea/vcs.xml
.idea/shelf/
captures/
projectFilesBackup/

local.properties
app/src/main/res/drawable/
app/src/main/res/ids/
app/src/main/res/raw/
